:root {
  --bgshadow: hsla(0, 0%, 0%, 0.65);
  --bgshadow1: hsla(0, 0%, 0%, 0.65);
  --primary: #ff005c;
}

.bg-primary {
  background: var(--primary);
}
.color-primary {
  color: var(--primary);
}

.custom-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-header {
  background: linear-gradient(135deg, var(--bgshadow), var(--bgshadow1)),
    url("./Img/Header.jpg") no-repeat center center/cover;
}
.h-vh {
  min-height: 90vh;
  position: relative;
}

.hover-letter-space {
  transition: 0.5s ease;
}
.hover-letter-space:hover {
  letter-spacing: 2px;
}
.sticky-content {
  position: sticky;
}
.text-shorter {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.camelCase {
  text-transform: capitalize;
}
.scale-image {
  cursor: pointer;
  transition: transform 0.5s;
}
.scale-image:hover {
  transform: scale(1.2);
}
.z-index {
  z-index: 111;
}

.underline-button {
  position: relative;
}
.underline-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transform: scale(0.2);
}
.underline-button:hover::before {
  transform: scale(0.7);
}

/* Glow Button css */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: rgba(70, 70, 70, 0.507);
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(42, 42, 42, 0);
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* //v-icon */

.play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient(var(--primary) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
  box-shadow: 0px 0px 50px 3px var(--primary);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid rgb(240, 240, 240);
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 25px solid rgba(255, 255, 255, 0.75);
  top: -100%;
  left: -100%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

/* top selling section */

.top-selling {
  position: relative;
}
.top-selling::before {
  content: "";
  top: 5%;
  left: 5%;
  background: #000;
  opacity: 0.8;
  position: absolute;
  width: 90%;
  height: 90%;
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  transform: scale(0);
}
.sell:hover .top-selling::before {
  transform: scale(1);
}
.top-product-details {
  letter-spacing: 2px;
  transform: scale(0);
  transition: transform 0.75s;
}
.sell:hover .top-product-details {
  transform: scale(1);
}

/* Popular places section */
.country {
  z-index: 111;
}
.h-700 {
  max-height: 700px;
}
.height-700 {
  height: 700px;
}
.h-345 {
  max-height: 345px;
}
.populer-place {
  transition: 0.5s ease-in-out;
}
.populer-place:hover .populer-place-overly::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  position: absolute;
  transition: 0.5s ease-in-out;
}

/* Special section  */

.bg-special {
  background: linear-gradient(
      135deg,
      hsla(0, 0%, 0%, 0.5),
      hsla(0, 0%, 0%, 0.5)
    ),
    url("https://i.ibb.co/k43Zsmg/pexels-dids-1450476.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
